{% extends '::base.html.twig' %}

{% block body %}

<a href="{{ path('secure_one') }}">Secure example one - users</a>
<a href="{{ path('secure_two') }}">Secure example two - admins</a>

{% endblock %}